<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="redirectChat()">Chat</button>
    <button onclick="redirectUpload()">Upload Docs</button>
    <button onclick="redirectClear()">Clear Docs</button>

    <script>
        const redirectChat= () =>{
            window.location.href="/chat";
        }
        const redirectUpload= () =>{
            window.location.href="/upload";
        }
        const redirectClear= () =>{
            fetch("/clear");
        }
    </script>
</body>
</html>